<html lang="en">

<head>
  <meta charset="utf-8">
  <title>List Customer Banking</title>
  <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
  {{!-- Icon Font --}}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="orders">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="box-title">Customer List</h4>
            <a data-toggle="modal" data-target="#myModalAdd" class="btn btn-sm btn-success add"><i class="fa fa-plus">
                Add New</i></a>
          </div>
          <div class="card-body--">
            <div class="table-stats order-table ov-h">
              <table class="table table-striped" id="mytable">
                <thead>
                  <tr>
                    <th>Customer ID</th>
                    <th>Customer Name</th>
                    <th>Address</th>
                    <th>Kode Pos</th>
                    <th>No HP</th>
                    <th>Email</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each results}}
                  <tr>
                    <td>{{ cust_id }}</td>
                    <td>{{ nama }}</td>
                    <td>{{ alamat }}</td>
                    <td>{{ kode_pos }}</td>
                    <td>{{ no_hp }}</td>
                    <td>{{ email }}</td>
                    <td>
                      <a href="javascript:void(0);" class="btn btn-info btn-sm edit" data-id="{{ cust_id }}"
                        data-nama="{{ nama }}" data-alamat="{{ alamat }}" data-kode_pos="{{ kode_pos }}"
                        data-no_hp="{{ no_hp }}" data-email="{{ email }}"><i class="fa fa-pencil">
                        </i></a>
                      <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="{{ cust_id }}"><i
                          class="fa fa-trash"></i></a>
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Add New Customer Modal-->
  <form action="/save" method="post">
    <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add New Customer</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="name" class="form-control-label">Customer Name</label>
              <input type="text" name="nama" class="form-control" placeholder="Customer Name" required>
            </div>

            <div class="form-group">
              <label for="address" class="form-control-label">Address</label>
              <textarea name="alamat" class="form-control" placeholder="Address" required></textarea>
            </div>

            <div class="form-group">
              <label for="kode_pos" class="form-control-label">Kode Pos</label>
              <input type="text" name="kode_pos" class="form-control" placeholder="Postal Code e.g. 21024"
                id="txtKodePos" onkeyup="ValidateKodePos();" required>
              <span id="lblErrorKodePos" style="color: red"></span> <br>
            </div>

            <div class="form-group">
              <label for="no_hp" class="form-control-label">No HP</label>
              <input type="text" name="no_hp" class="form-control" placeholder="No HP e.g. 085371415511" id="txtNoHp"
                onkeyup="ValidateHandphone();" required>
              <span id="lblErrorNope" style="color: red"></span> <br>
            </div>

            <div class="form-group">
              <label for="email" class="form-control-label">Email</label>
              <input type="email" name="email" class="form-control" id="txtEmail" onkeyup="ValidateEmail();"
                placeholder="Enter a valid email address" required>
              <span id="lblError" style="color: red"></span> <br>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- Edit Customer Modal-->
  <form action="/update" method="post">
    <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Customer</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="name" class="form-control-label">Customer Name</label>
              <input type="text" name="nama" class="form-control nama" placeholder="Customer Name" required>
            </div>

            <div class="form-group">
              <label for="address" class="form-control-label">Address</label>
              <textarea name="alamat" class="form-control alamat" placeholder="Address" required></textarea>
            </div>
            <div class="form-group">
              <label for="kode_pos" class="form-control-label">Kode Pos</label>
              <input type="text" name="kode_pos" class="form-control kode_pos" placeholder="Postal Code e.g. 20124"
                id="txtKodePos" onkeyup="ValidateKodePos();" required>
              <span id="lblErrorKodePos" style="color: red"></span> <br>
            </div>

            <div class="form-group">
              <label for="no_hp" class="form-control-label">No HP</label>
              <input type="tel" name="no_hp" class="form-control no_hp" placeholder="No HP e.g. 085371415511"
                id="txtNoHp" onkeyup="ValidateHandphone();" required>
              <span id="lblErrorNope" style="color: red"></span> <br>
            </div>

            <div class="form-group">
              <label for="email" class="form-control-label">Email</label>
              <input type="email" name="email" class="form-control email" id="txtEmail" onkeyup="ValidateEmail();"
                placeholder="Email" required>
              <span id="lblError" style="color: red"></span> <br>
            </div>
          </div>
          <div class="modal-footer">
            <input type="hidden" name="id" class="cust_id">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- Delete Customer Modal-->
  <form id="add-row-form" action="/delete" method="post">
    <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel">Delete Customer</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <strong>Are You Sure To Delete This Data?</strong>
          </div>
          <div class="modal-footer">
            <input type="hidden" name="cust_id" class="form-control cust_id2" required>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <script src="/assets/js/jquery.js"></script>
  <script src="/assets/js/bootstrap.js"></script>
  <script>
    $(document).ready(function () {
      //showing data to modal for edit record
      $('#mytable').on('click', '.edit', function () {
        var cust_id = $(this).data('id');
        var nama = $(this).data('nama');
        var alamat = $(this).data('alamat');
        var kode_pos = $(this).data('kode_pos');
        var no_hp = $(this).data('no_hp');
        var email = $(this).data('email');
        $('#EditModal').modal('show');
        $('.nama').val(nama);
        $('.alamat').val(alamat);
        $('.kode_pos').val(kode_pos);
        $('.no_hp').val(no_hp);
        $('.email').val(email);
        $('.cust_id').val(cust_id);
      });
      //showing modal for delete record
      $('#mytable').on('click', '.delete', function () {
        var cust_id = $(this).data('id');
        $('#DeleteModal').modal('show');
        $('.cust_id2').val(cust_id);
      });

    });
  </script>

  <script type="text/javascript">
    function ValidateEmail() {
      var email = document.getElementById("txtEmail").value;
      var lblError = document.getElementById("lblError");
      lblError.innerHTML = "";
      var expr = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
      if (!expr.test(email)) {
        lblError.innerHTML = "Invalid email address.";
      }
    }
  </script>

  <script type="text/javascript">
    function ValidateHandphone() {
      var nohp = document.getElementById("txtNoHp").value;
      var lblError = document.getElementById("lblErrorNope");
      lblError.innerHTML = "";
      var expr = /^(^\+62\s?|^0)(\d{3,4}-?){2}\d{3,4}$/;
      if (!expr.test(nohp)) {
        lblError.innerHTML = "Invalid Phone Number";
      }
    }
  </script>

  <script type="text/javascript">
    function ValidateKodePos() {
      var kodepos = document.getElementById("txtKodePos").value;
      var lblError = document.getElementById("lblErrorKodePos");
      lblError.innerHTML = "";
      var expr = /^([1-9])[0-9]{4}$/;
      if (!expr.test(kodepos)) {
        lblError.innerHTML = "Invalid Postal Code";
      }
    }
  </script>
</body>

</html>